<div class="card justify-center items-center" >
    <p-galleria [value]="images"
    [numVisible]="5" 
    [circular]="true" 
    [showItemNavigators]="true" 
    [showThumbnails]="false" 
    [responsiveOptions]="responsiveOptions"
    [autoPlay]="true"
    [transitionInterval]="5000"
    [containerStyle]="{'max-height': '90vh', 'width': '100%'}">
    
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" 
                 style="inline-size: 100%; block-size: 100%; max-block-size: 80vh; object-fit: fit; display: block;" 
                 alt="Gallery image" />
        </ng-template>
    </p-galleria>
</div>