<div class="grid">
    <p-card 
        *ngFor="let card of cards" 
        [style]="{ width: '15rem', overflow: 'hidden' }"
        class="card">
        <ng-template pTemplate="header">
            <img [alt]="card.title" class="w-full" [src]="card.image" />
        </ng-template>
        <ng-template pTemplate="title">{{ card.title }}</ng-template>
        <ng-template pTemplate="subtitle">{{ card.subtitle }}</ng-template>
        <p>{{ card.content }}</p>

        <!-- <ng-template pTemplate="footer">
            <div class="buttons">
                <p-button 
                    label="Cancel" 
                    severity="secondary" 
                    class="w-full" 
                    [outlined]="true" 
                    styleClass="w-full"
                    (click)="onCancel(card.id)" />
                <p-button 
                    label="Save" 
                    class="w-full" 
                    styleClass="w-full"
                    (click)="onSave(card.id)" />
            </div>
        </ng-template> -->
    </p-card>
</div>