<h2 style="text-align: center;">What we do</h2>

<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

    <p-card 
        *ngFor="let card of cards" 
        [style]="{ width: '100%', overflow: 'hidden' }"
        class="card">
        <ng-template pTemplate="header">
            <img [alt]="card.title" class="w-full object-cover" [src]="card.image" />
        </ng-template>
        <ng-template pTemplate="title">{{ card.title }}</ng-template>
        <ng-template pTemplate="subtitle">{{ card.subtitle }}</ng-template>
        <p>{{ card.content }}</p>
    </p-card>
</div>