.grid{

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card{

    padding-block-end: 10px;
    margin: 5px;

}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}